:root {
--primary-color: #3a0303;
--primary-dark-color: #280202;
--primary-light-color: #754e4e;
--secondary-color: #f4ce74;
--secondary-dark-color: #aa9051;
--secondary-light-color: #f7dc9d;
--error-color: #a53f3f;
--success-color: #04CC80;
--dark-color: #050000;
--almost-dark-color: #242222;
--medium-dark-color: #888;
--light-color: #f7f7f7;
--almost-light-color: #f5f5f5;
}