:host {
    max-width: 90%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    .search-bar-container{
        display:flex;
        flex-grow: 1;
        justify-content: center;
        .search-bar {
            display: flex;
            flex-direction: row;
            max-width: 800px;
            width: 100%;
            justify-content: center;
            input {
                width: 80%;
                height: 50px;
                border-radius: 5px;
                border: none;
                padding: 16px;
                background-color: var(--almost-light-color);
                &::placeholder {
                    color: var(--medium-dark-color);
                }
                &:focus {
                    outline: none;
                }
                border-radius: 0;
            }
            button {
                cursor: pointer;
                border: none;
                padding: 0 15px;
                background-color: var(--almost-light-color);
                z-index: 1;
                fa-icon {
                    ::ng-deep {
                        background-color: transparent !important;
                        font-size: 16px;
                        svg {
                            background-color: transparent !important;
                            path {
                                fill: var(--primary-light-color);
                                background-color: transparent !important;
                            }
                        }
                    }
                }
            }
        }
    }
}