:host {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .search-bar-container{
        .search-bar {
            input {
                width: 350px;
                height: 50px;
                border-radius: 5px;
                border: none;
                padding: 16px;
                background-color: var(--almost-light-color);
                &::placeholder {
                    color: var(--medium-dark-color);
                }
                &:focus {
                    outline: none;
                }
            }
            fa-icon {
                ::ng-deep {
                    background-color: transparent !important;
                    position: absolute;
                    translate: -36px 5px;
                    margin: 10px;
                    svg {
                        background-color: transparent !important;
                        path {
                            fill: var(--primary-light-color);
                            background-color: transparent !important;
                        }
                    }
                }
            }
        }
    }
}