header {
    position: sticky;
    top: 0;
    align-self: flex-start;
    .menu-container{
        display: flex;
        flex-direction: row;
        overflow: auto;
        justify-content: center;
        align-items: center;
    }
}